@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);

  --toggle-dark: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));

  --toggle-light: hsl(230, 22%, 74%);

  --very-dark-blue-bg: hsl(230, 17%, 14%);
  --very-dark-blue-top-bg-pattern: hsl(232, 19%, 15%);
  --dark-desaturated-blue-card-bg: hsl(228, 28%, 20%);
  --desaturated-blue-text: hsl(228, 34%, 66%);
  --white-text: hsl(0, 0%, 100%);

  --white-bg: hsl(0, 0%, 100%);
  --very-pale-blue-top-bg-pattern: hsl(225, 100%, 98%);
  --light-grayish-blue-card-bg: hsl(227, 47%, 96%);
  --dark-grayish-blue-text: hsl(228, 12%, 44%);
  --very-dark-blue-text: hsl(230, 17%, 14%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-bg);
  font-family: "Inter", sans-serif;
  height: 100vh;
}

.container {
  height: 100%;
}

.app_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  width: 100%;
  background-color: var(--very-pale-blue-top-bg-pattern);
  height: 15rem;
  display: flex;
  justify-content: center;
}

.header_wrapper {
  max-width: 1115px;
  width: 100%;
  padding-top: 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}

.header_info_title {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--very-dark-blue-text);
}

.header_info_subtitle {
  color: var(--dark-grayish-blue-text);
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.2rem;
}

.switch_mode {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
}

.switch_mode_title {
  font-size: 0.83rem;
  color: var(--desaturated-blue-text);
  font-weight: 600;
  letter-spacing: 0.03rem;
}

input[type="checkbox"].toggle_input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  left: -9000px;
  top: -9000px;
}

input[type="checkbox"].toggle_input + label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: fit-content;
}

input[type="checkbox"].toggle_input + label:hover::before {
  background-image: linear-gradient(
    45deg,
    hsl(210deg 78% 56%) 0%,
    hsl(189deg 100% 44%) 50%,
    hsl(146deg 68% 55%) 100%
  );
}

input[type="checkbox"].toggle_input + label::before {
  content: "";
  width: 2.9rem;
  height: 1.6rem;
  background-color: var(--toggle-light);
  border-radius: 1.6rem;
}

input[type="checkbox"].toggle_input:not(:checked) + label::before {
  background-image: linear-gradient(
    45deg,
    hsl(210deg 78% 56%) 0%,
    hsl(189deg 100% 44%) 50%,
    hsl(146deg 68% 55%) 100%
  );
}

input[type="checkbox"].toggle_input + label::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 1.2rem;
  background-color: var(--very-dark-blue-top-bg-pattern);
  position: absolute;
  transform: translateX(0.2rem);
}

input[type="checkbox"].toggle_input:checked + label::after {
  transform: translateX(1.5rem);
  background-color: var(--white-bg);
}

.content {
  max-width: 1115px;
  width: 100%;
  position: absolute;
  top: 8.5rem;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 255px;
  height: 216px;
  padding: 20px;
  background-color: var(--light-grayish-blue-card-bg);
  border-radius: 5px;
  border-top: 4px solid var(--facebook);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card:nth-child(2) {
  border-color: var(--twitter);
}

.instagram_card {
  width: 255px;
  height: 216px;
  background-image: linear-gradient(
    45deg,
    hsl(37deg 97% 70%) 0%,
    hsl(329deg 70% 58%) 100%
  );
  display: flex;
  align-items: flex-end;
  border-radius: 5px;
}

.instagram_card > .card {
  width: 255px;
  height: 212px;
  border: none;
  border-radius: 3px 3px 5px 5px;
}

.card:nth-child(4) {
  border-color: var(--youtube);
}

.card_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card_logo_username {
  color: var(--dark-grayish-blue-text);
  font-weight: 600;
  font-size: 12px;
  margin-left: 5px;
}

.followers_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_followers_count {
  font-size: 55px;
}

.card_followers_title {
  font-size: 11px;
  color: var(--dark-grayish-blue-text);
  font-weight: 100;
  letter-spacing: 6px;
}

.card_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

.card_footer_title {
  font-size: 11px;
  font-weight: 500;
  color: var(--lime-green);
}

.card:nth-child(4) .card_footer_title {
  color: var(--bright-red);
}

.bottom_cards_title {
  color: var(--dark-grayish-blue-text);
  margin: 45px 0 24px 0;
}

.bottom_cards_container {
  width: 100%;
}

.bottom_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 255px);
  gap: 30px;
}

.bottom_card {
  height: 125px;
  width: 255px;
  background-color: var(--light-grayish-blue-card-bg);
  border-radius: 5px;
  padding: 24px;
}

.bottom_card_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom_card_header_title {
  font-size: 14px;
  color: var(--dark-grayish-blue-text);
}

.bottom_card_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.bottom_card_footer_value {
  font-size: 32px;
  color: var(--very-dark-blue-text);
}

.bottom_card_footer_percent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom_card_footer_percent_value {
  font-size: 12px;
  font-weight: 500;
  color: var(--lime-green);
  margin-left: 3px;
  letter-spacing: 0.01rem;
}

.bottom_card:nth-child(2) .bottom_card_footer_percent_value,
.bottom_card:nth-child(7) .bottom_card_footer_percent_value,
.bottom_card:nth-child(8) .bottom_card_footer_percent_value {
  color: var(--bright-red);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(117.77deg 35.62% 64.63%);
  padding-bottom: 1rem;
}

.card:hover,
.bottom_card:hover {
  cursor: pointer;
}

.dark_body {
  background-color: var(--very-dark-blue-bg);
}

.dark_header {
  background-color: var(--very-dark-blue-top-bg-pattern);
}

.dark_title {
  color: var(--white-text);
}

.dark_card {
  background-color: var(--dark-desaturated-blue-card-bg);
}

.dark_card:hover {
  background-color: #333a56;
}

@media screen and (width <= 1150px) {
  .header_wrapper {
    width: 90%;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }
  .cards {
    max-width: 540px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .bottom_cards_container {
    max-width: 540px;
  }
  .attribution {
    margin-top: 37rem;
  }
}

@media screen and (width <= 560px) {
  .header_wrapper {
    flex-direction: column;
  }
  .header_info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .dark_border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header_info_title {
    font-size: 1.4rem;
  }
  .switch_mode {
    justify-content: space-between;
  }
  .content {
    top: 14rem;
  }
  .bottom_cards_container {
    width: 90%;
  }

  .bottom_cards {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .bottom_card {
    width: 100%;
  }
  .card {
    width: 90%;
  }
  .instagram_card {
    width: 90%;
    .card {
      width: 100%;
    }
  }
  .attribution {
    margin-top: 112rem;
  }
}
